<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
hello world
<p><%= link_to "ユーザー一覧", users_index_path %>
<p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
<p><%= link_to "ログイン", new_user_session_path %>
